.footer__titre {
  font-family: "Shrikhand";
  margin: 20px;
  font-weight: 12;
}
footer {
  ul {
    list-style-type: none;
  }
  li {
    margin-bottom: 10px;
  }
}
.margin {
  margin-right: 10px;
}
.footer__list {
  padding-top: 20px;
  padding-bottom: 20px;
}
