.btn-explorer {
  font-size: nth($font-size, 8);
  opacity: 1;
  background: linear-gradient(lighten($secondary-color, 10%), $primary-color);
  color: white;
  padding: 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 20%);
  &:hover {
    background: lighten($primary-color, 10%);
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%);
  }
  @media screen and (min-width: 320px) and (max-width: 700px) {
    font-size: nth($font-size, 6);
  }
}
.btn-restaurant {
  font-size: nth($font-size, 8);
  opacity: 1;
  background: linear-gradient(lighten($secondary-color, 10%), $primary-color);
  color: white;
  padding: 15px 50px 15px 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-bottom: 70px;
  margin-top: 30px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 20%);
}
